// Loading 组件样式
$primary-color: #13ec13;
$text-light: #9ca3af;
$text-secondary: #6b7280;

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80rpx 0;

  &.small {
    padding: 40rpx 0;

    .loading-spinner {
      width: 40rpx;
      height: 40rpx;
    }

    .loading-text {
      font-size: 24rpx;
      margin-top: 16rpx;
    }
  }

  &.medium {
    padding: 80rpx 0;

    .loading-spinner {
      width: 60rpx;
      height: 60rpx;
    }

    .loading-text {
      font-size: 28rpx;
      margin-top: 24rpx;
    }
  }

  &.large {
    padding: 120rpx 0;

    .loading-spinner {
      width: 80rpx;
      height: 80rpx;
    }

    .loading-text {
      font-size: 32rpx;
      margin-top: 32rpx;
    }
  }
}

.loading-spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-dot {
  width: 12rpx;
  height: 12rpx;
  background-color: $primary-color;
  border-radius: 50%;
  margin: 0 4rpx;
  animation: loading-bounce 1.4s ease-in-out infinite both;

  &:nth-child(1) {
    animation-delay: -0.32s;
  }

  &:nth-child(2) {
    animation-delay: -0.16s;
  }

  &:nth-child(3) {
    animation-delay: 0s;
  }
}

@keyframes loading-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-text {
  color: $text-secondary;
  font-size: 28rpx;
  margin-top: 24rpx;
  text-align: center;
}
